* {
  margin: 0;
  padding: 0;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
}
a {
  text-decoration: none;
}

body {
  background-color: #121212;
  color: white;
  text-shadow: white 1px 1px 30px;
  width: 100vw;
  overflow-x: hidden;
  gap: 10rem;
  padding: 8vmin 0;
}

h1 {
  font-size: 20vmin;
  
}

.header {
  width: 100%;
  height: 15vh;
}

.main {
  text-shadow: none;
  font-size: 2rem;
  width: 75%;
}

#cardButton {
  margin-top: .5rem;
  font-size: 1rem;
  border: 1px white solid;
  padding: .5rem;
  border-radius: .5rem;
  background: none;
  cursor: pointer;
  background-color: #181818;
}

#cardButtonDel {
  margin-top: .5rem;
  font-size: 1rem;
  border: 1px white solid;
  padding: .5rem;
  border-radius: .5rem;
  background: none;
  cursor: pointer;
  background-color: #181818;
}

#boxButton {
  font-size: 3rem;
  border: 3px white solid;
  padding: 1rem;
  border-radius: .5rem;
  background: none;
  cursor: pointer;
  transition: all .5s ease-in-out;
  background-color: #181818;
}
#boxButton:hover {
  transform: scale(1.1);
}

#main-content {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5rem;
}

.box-class {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer {
  text-shadow: none;
}

#renderedCard {
  border: 3px white solid;
  border-radius: .5rem;
  font-size: medium;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  width: 10rem;
  transition: all .3s ease-in-out;
  background-color: #181818;
}

#boxCard {
  border: 3px white solid;
  border-radius: .5rem;
  font-size: medium;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: .5rem;
  width: 10rem;
  background-color: #181818;
}

#renderedCard:hover {
  transform: scale(1.1);
}

#goToButton {
  font-size: small;
  justify-self: flex-end;
  border: 1px white solid;
  align-self: center;
  width: fit-content;
  background: none;
  cursor: pointer;
  padding: .5rem;
  border-radius: .5rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#sizeInput, #colorInput, #containsInput {
  color: black;
  width: 65%;
  text-align: center;
}
